{% extends 'base.html.twig' %}

{% block title %}Contactez nous !{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 5%">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit">
        {{ form_end(form) }}
    </div>
{% endblock %}